* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
    min-height: 100vh;
    font-size: 16px;
    font-family: greycliffCF-Regular,Sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,.004);
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto);
    grid-template-areas: 
        "header"
        "main"
        "footer"; */
}

img {
    max-width: 10%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.header {
    grid-area: header;
    
    font-size: 16px;
    font-weight: 300;
    border-bottom: 1px solid #e0e0e0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(224, 224, 224);
    /* display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center; */
    /* border: 1px solid red; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    grid-gap: 2rem;
    padding: .3rem;

}

.sitename {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    /* justify-self: flex-start; */
}

.logo {
    min-width: 3rem;
    min-height: 3rem;
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Albert_Heijn_Logo.svg/1200px-Albert_Heijn_Logo.svg.png);
    background-size: contain;
    margin: 0.3rem;
    margin-right: 1rem;
}

.loginmenu {
    color: #3b9fe2;
}

.navbar {
    display: grid;
    align-items: center;
}

ul.navlist {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(autofill, minmax(100px, 1fr));
    justify-content: center;
    grid-gap: 1rem;
}

.navlink {
    color: #303030;
    
}


.search-bar {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 4fr 1fr;
    background: #fff;
    top: 15px;
    width: 200px;
    border: 1px solid #e0e0e0;
    height: 2rem;
    border-radius: 3px;
}

.searchterm-main {
   border: none;
}

.searchbutton-main {
    background: url(http://clipart-library.com/images/rTLn8RLBc.png) no-repeat center;
    background-size: contain;
    margin: .3rem;
    border: none;
}

.order {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr auto;
    align-items: center;

}
.bestellen {
    font-weight: 400;
    color: #3b9fe2;
}

.winkelmandje {
    min-width: 3rem;
    min-height: 3rem;
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Albert_Heijn_Logo.svg/1200px-Albert_Heijn_Logo.svg.png);
    background-size: contain;
    margin: 0.3rem;
    margin-right: 1rem;
}


.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

   
    .subheader {
        background-color: rgb(240, 239, 234);
        width: 100%;
        min-height: 3rem;
        /* border: 1px solid red; */
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    .subheader-logo {
        justify-self: end;
        min-width: 100px;
        min-height: 2rem;
        align-self: center;
        /* border: 1px solid red; */
        background: url(https://static.ah.nl/assets/allerhande/1.97.0/_ui/allerhande//assets/images/allerhande-print_657x128.png);
        background-size: contain;
        background-repeat: no-repeat;
   
    }

    ul.subnav-list {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(autofill, minmax(100px, 1fr));
        justify-content: center;
        grid-gap: 1rem;
    }

    .search {
    justify-self: flex-start;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 4fr 1fr;
    background: #fff;
    top: 15px;
    width: 200px;
    border: 1px solid #e0e0e0;
    height: 2rem;
    border-radius: 3px;
}

.searchterm {
   border: none;
}

.searchbutton {
    background-color: #6cbc88;
    border: none;
}

      

.footer {
    grid-area: footer;
}
