* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
    min-height: 100vh;
    font-size: 16px;
    font-family: greycliffCF-Regular,Sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,.004);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.header {
    grid-area: header;
    /* position: fixed;
    width: 100%; */
    font-size: 16px;
    font-weight: 300;
    background: white;
    border-bottom: 1px solid #e0e0e0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(224, 224, 224);
    /* display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center; */
    /* border: 1px solid red; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    grid-gap: 2rem;
    padding: .3rem;
    z-index: 9999;

}

.sitename {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    flex: 0 1 auto;
    /* justify-self: flex-start; */
}

.logo {
    min-width: 3rem;
    min-height: 3rem;
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Albert_Heijn_Logo.svg/1200px-Albert_Heijn_Logo.svg.png);
    background-size: contain;
    margin: 0.3rem;
    margin-right: 1rem;
}

.loginmenu {
    color: #3b9fe2;
}

.loginmenu::after {
    content: "  >";
}

.navbar {
    display: grid;
    align-items: center;
    flex: 1 1 auto;
    /* responsive */
    /* display: none; */
}

ul.navlist {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(autofill, minmax(100px, 1fr));
    justify-content: center;
    grid-gap: 1rem;
    
}


.navlink {
    color: #303030;
    
}

.navlink-last::after {
    content: "  >";
}

.search-bar {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 4fr 1fr;
    background: #fff;
    top: 15px;
    width: 200px;
    border: 1px solid #e0e0e0;
    height: 2rem;
    border-radius: 3px;
    flex: 1 1 auto;
    margin-left: 2rem;
    margin-right: 2rem;
}

.searchterm-main {
   border: none;
}

.searchbutton-main {
    background: url(http://clipart-library.com/images/rTLn8RLBc.png) no-repeat center;
    background-size: contain;
    margin: .3rem;
    border: none;
}

.order {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr auto;
    align-items: center;
 
    flex: 0 0 auto;
   
}
.bestellen {
    font-weight: 400;
    color: #3b9fe2;
}

.winkelmandje {
    min-width: 3rem;
    min-height: 3rem;
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Albert_Heijn_Logo.svg/1200px-Albert_Heijn_Logo.svg.png);
    background-size: contain;
    margin: 0.3rem;
    margin-right: 1rem;
}

/* MAIN */
.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    background-color: rgb(240, 239, 234);
}

   
    .subheader {
        background-color: rgb(240, 239, 234);
        padding: 1rem;
        align-items: center;
        
        /* min-height: 3rem;
      
        display: grid;
        justify-items: start;
        align-items: center;
        
        grid-template-columns: 400px 1fr 1fr; */


        /* width: 100%; */
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        /* grid-gap: 2rem; */
        /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    }

    .subheader-logo {
        
        max-width: 100px;
        justify-self: flex-end;
        align-self: center;
        /* margin-bottom: 1rem; */
        /* border: 1px solid red; */
        /* background: url(https://static.ah.nl/assets/allerhande/1.97.0/_ui/allerhande//assets/images/allerhande-print_657x128.png);
        background-size: contain;
        background-repeat: no-repeat; */
   
    }

    .subnav {
        align-self: center;
        margin-left: 5rem;
        margin-right: 5rem;
        flex: 1 0 auto;
        padding: 10px;
    }
    .subnav-list {
        
        
        display: flex;
        flex-flow: row wrap;
        /* justify-content: space-around; */
        
        
        
        /* display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(auto, minmax(100px, 1fr));
        justify-content: center;
        grid-gap: 1rem; */

        /* responsive */
        /* display: none; */
    }

    .subnav-link {
        font-weight: 600;
        font-size: 15px;
        color: black;
    }

    li.subnav-item {
        margin: 0 1rem;
    }

    .search {
        flex: 1 0 auto;
    justify-self: flex-start;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 4fr 1fr;
    /* background: #fff; */
    top: 15px;
    width: 200px;
    /* border: x solid #e0e0e0; */
    height: 2rem;
    border-radius: .3rem;
}

.searchterm {
   border: none;
}

.searchbutton {
    background-color: #6cbc88;
    border: none;
}


.herosearch {
    display: grid;
    justify-items: center;
    width: 100%;
    
    min-height: 25rem;
    background: url(https://static.ah.nl/binaries/content/gallery/allerhande/banner-images/header-home/2018/ah12/header_home_1600x430-week51-1.jpg/header_home_1600x430-week51-1.jpg/allerhande%3Adesktop);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-img {
    max-width: 40%;
    align-self: center;
}

.hero-search {
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    align-self: center;
    grid-template-columns: 6fr 1fr;
    max-width: 500px;
    
    height: 2.5rem;
    border-radius: 3px;

    /* border: 1px solid red; */
}

.searchterm {
    flex: 1 0 auto;
}

.searchsubmit {
    color: white;
    font-size: 18px;
    height: 2rem;
    flex: 0 1 auto;
}
.magnifying-glass {
    font-size: 2em;
    display: inline-block;
    width: 0.4em;
    box-sizing: content-box;
    height: 0.4em;
    border: 0.1em solid white;
    position: relative;
    border-radius: 0.35em;
  }
.magnifying-glass:before {
    content: "";
    display: inline-block;
    position: absolute;
    right: -0.25em;
    bottom: -0.1em;
    border-width: 0;
    background: white;
    width: 0.35em;
    height: 0.08em;
    transform: rotate(45deg);
  }

.hero-link {
    color: white;
    font-size: 22px;
    font-weight: 100;
}

.hero-link::after {
    content: " >";
}

/* SECTION A */



.section-a {
    width: 100%;
    display: grid;
    justify-items: center;
    padding-bottom: 1rem;
    background-color: white;
    
}
.calltoaction {
    background: #FFF7B6;
    width: 100%;
    text-align: center;
    
}

.cta {
    font-weight: 200;
}

.ctalink {
    color: black;
    text-decoration: underline;
}

.section-title {
    color: #6cbc88;
    letter-spacing: .2rem;
}

.section-subtitle {
    font-weight: 100;   
}

.videos {
    width: 80%;
   display: grid;
    grid-gap: 2rem;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.video-caption {
    letter-spacing: .2rem;
    font-weight: 600;
    font-size: 16px;
}

figure {
    padding: 0;
    margin: 0;
}

.section-button {
    background: #6cbc88;
    color: white;
    padding: 1rem;
    font-weight: 600;
    letter-spacing: .1rem;
    border-radius: .3rem;
}

.section-button::after {
    content: "  >"
}

.section-a.grey {
    background: #F0EFEA;
}

/* SECTION B */

.section-b {
    width: 100%;
    display: grid;
    justify-items: center;
    grid-gap: 2rem;
    padding-bottom: 1rem;
    background-color: rgba(108, 187, 135, 0.1);
    
}

.list-wrapper {
    justify-items: center;
    width: 65%;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

ul.section-list a {
    font-family: greycliffCF-Bold,Sans-serif;
    color: #6cbc88;
    
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    display: flex;
    justify-content: space-between;
}

ul.section-list a::after {
    content: ">"; 
}

.section-list li {
    padding: .8rem;
    border-bottom: dashed 1px grey;
    min-width: 15rem;
    
}

/* SECTION C */

.section-c {
    width: 100%;
    min-height: 25rem;
    background: url(https://static.ah.nl/binaries/content/gallery/allerhande/banner-images/visual-highlights/2018/ah12/visual-highlight-groot-nieuw-wk50.jpg/visual-highlight-groot-nieuw-wk50.jpg/allerhande%3Adesktop);
    background-size: cover;
    background-repeat: no-repeat;

    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    justify-content: center;

}

.screenwide-article {
    background: rgba(255,255,255,.8);
    padding: 1rem;
    width: 350px;
    height: 350px;
    align-self: center;
    grid-column: 2;
    display: grid;
    grid-template-rows: auto 1fr auto;
    
}

.screenwide-article .section-button {
    
    align-content: center;
    width: 150px;
    
}

.widetitle {
    font-size: 30px;
    margin-bottom: -.5rem;
}

.widepara {
    line-height: 1.5rem;
    font-size: 20px;
    font-weight: 200;
}

.footer {
    grid-area: footer;
    background-color: rgb(240, 239, 234);
    display: grid;
    justify-content: center;
}
